In [227]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import FunctionTransformer
import sys

In [228]:
sys.path.insert(1, "../scripts")
from ml_processors import ML_Processor as MLP

mlp = MLP()

Loading data

In [229]:
ml_data = pd.read_csv('../data/chrome_data.csv')
ml2_data = pd.read_csv('../data/chrome_mobile_webView_data.csv')
ml3_data = pd.read_csv('../data/facebook_data.csv')
ml4_data = pd.read_csv('../data/platform_5.csv')
ml5_data = pd.read_csv('../data/platform_6.csv')
ml_data.head(2)

,auction_id,experiment,date,hour,device_make,browser,yes,no,SAID_YES
0,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,Chrome Mobile,1,0,1
1,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,Chrome Mobile,0,1,0

### Dropping unwanted columns

In [230]:
#for mobile view
columns_to_be_dropped = ['no','SAID_YES']
ml_data_clean = ml_data.drop(columns_to_be_dropped,axis=1)
ml_data_clean.head(2)

,auction_id,experiment,date,hour,device_make,browser,yes
0,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,Chrome Mobile,1
1,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,Chrome Mobile,0

In [231]:
ml2_data.head(2)

,auction_id,experiment,date,hour,device_make,browser,yes,no,SAID_YES
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,Chrome Mobile WebView,0,1,0
1,01905bae-fc59-475e-b2b4-09b78163c961,exposed,2020-07-05,6,I3312,Chrome Mobile WebView,0,1,0

In [232]:
#for chrome mobile webview
columns_to_be_dropped = ['no','SAID_YES']
ml2_data_clean = ml2_data.drop(columns_to_be_dropped,axis=1)
ml2_data_clean.head(2)

,auction_id,experiment,date,hour,device_make,browser,yes
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,Chrome Mobile WebView,0
1,01905bae-fc59-475e-b2b4-09b78163c961,exposed,2020-07-05,6,I3312,Chrome Mobile WebView,0

In [233]:
ml3_data.head(2)

,auction_id,experiment,date,hour,device_make,browser,yes,no,SAID_YES
0,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,Facebook,1,0,1
1,023458f7-122d-475f-9525-1b9a3cc7a033,control,2020-07-03,15,MRD-LX1,Facebook,0,1,0

In [234]:
#for chrome mobile facebook
columns_to_be_dropped = ['no','SAID_YES']
ml3_data_clean = ml3_data.drop(columns_to_be_dropped,axis=1)
ml3_data_clean.head(2)

,auction_id,experiment,date,hour,device_make,browser,yes
0,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,Facebook,1
1,023458f7-122d-475f-9525-1b9a3cc7a033,control,2020-07-03,15,MRD-LX1,Facebook,0

In [235]:
ml4_data.head(2)

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,23b2028c-72ed-43b3-a2d7-d772b2d4d478,exposed,2020-07-03,8,iPhone,5,Mobile Safari,0,1
1,54a62f37-0c4d-4300-a063-1c6aa99244e5,control,2020-07-03,15,iPhone,5,Mobile Safari,0,1

In [236]:
# dropping no columun for platform_5
columns_to_be_dropped = ['no']
ml4_data_clean = ml4_data.drop(columns_to_be_dropped,axis=1)
ml4_data_clean.head(2)

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes
0,23b2028c-72ed-43b3-a2d7-d772b2d4d478,exposed,2020-07-03,8,iPhone,5,Mobile Safari,0
1,54a62f37-0c4d-4300-a063-1c6aa99244e5,control,2020-07-03,15,iPhone,5,Mobile Safari,0

In [237]:
ml5_data.head(2)

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
1,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1,0

In [238]:
#dropping no columun for paltform 6
columns_to_be_dropped = ['no']
ml5_data_clean = ml5_data.drop(columns_to_be_dropped,axis=1)
ml5_data_clean.head(2)

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0
1,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1

#   Splitting Numerical and catagoriacal vaiables

In [239]:
#for chrome mobile vie
cat, num = mlp.sep_cat_num(ml_data_clean)
print("Numerical Columns:", cat)
print("****************")
print("Categorical Columns:", num)

Numerical Columns: ['auction_id', 'experiment', 'date', 'device_make', 'browser']
****************
Categorical Columns: ['hour', 'yes']

In [240]:
#for chrome mobile web view
cat, num = mlp.sep_cat_num(ml2_data_clean)
print("Numerical Columns:", cat)
print("****************")
print("Categorical Columns:", num)

Numerical Columns: ['auction_id', 'experiment', 'date', 'device_make', 'browser']
****************
Categorical Columns: ['hour', 'yes']

In [241]:
#for chrome facebook
cat, num = mlp.sep_cat_num(ml3_data_clean)
print("Numerical Columns:", cat)
print("****************")
print("Categorical Columns:", num)

Numerical Columns: ['auction_id', 'experiment', 'date', 'device_make', 'browser']
****************
Categorical Columns: ['hour', 'yes']

In [242]:
#for chrome platform_5
cat, num = mlp.sep_cat_num(ml4_data_clean)
print("Numerical Columns:", cat)
print("****************")
print("Categorical Columns:", num)

Numerical Columns: ['auction_id', 'experiment', 'date', 'device_make', 'browser']
****************
Categorical Columns: ['hour', 'platform_os', 'yes']

In [243]:
#for chrome platform 6 
cat, num = mlp.sep_cat_num(ml5_data_clean)
print("Numerical Columns:", cat)
print("****************")
print("Categorical Columns:", num)

Numerical Columns: ['auction_id', 'experiment', 'date', 'device_make', 'browser']
****************
Categorical Columns: ['hour', 'platform_os', 'yes']

# Splitting the columns for encoding and label encoding

In [244]:
ml_data_clean[cat].describe()

,auction_id,experiment,date,device_make,browser
count,695,695,695,695,695
unique,695,2,8,14,1
top,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-03,Generic Smartphone,Chrome Mobile
freq,1,371,176,665,695

In [245]:
ml2_data_clean[cat].describe()

,auction_id,experiment,date,device_make,browser
count,227,227,227,227,227
unique,227,2,8,79,1
top,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-03,Generic Smartphone,Chrome Mobile WebView
freq,1,180,48,43,227

In [246]:
ml3_data_clean[cat].describe()

,auction_id,experiment,date,device_make,browser
count,156,156,156,156,156
unique,156,2,8,63,1
top,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-03,Samsung SM-G960F,Facebook
freq,1,112,47,16,156

In [247]:
ml4_data_clean[cat].describe()

,auction_id,experiment,date,device_make,browser
count,17,17,17,17,17
unique,17,2,8,1,3
top,23b2028c-72ed-43b3-a2d7-d772b2d4d478,control,2020-07-03,iPhone,Mobile Safari
freq,1,13,5,17,13

In [248]:
ml5_data_clean[cat].describe()

,auction_id,experiment,date,device_make,browser
count,1226,1226,1226,1226,1226
unique,1226,2,8,115,6
top,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-03,Generic Smartphone,Chrome Mobile
freq,1,653,320,719,695

In [249]:
pipe_1 = Pipeline(
    steps=[
        ("label categories", FunctionTransformer(mlp.cat_labeler, kw_args={"cat_cols": cat})),
        ("scale data", FunctionTransformer(mlp.scaler)),
        ("separate target and features", FunctionTransformer(mlp.target_feature, kw_args={"f_r": [0, 6], "t":-1})),
        ("divide dataset", FunctionTransformer(mlp.set_splitter, kw_args={"test": 0.1, "val":0.2, "rand_state":8})),      
        ])
sets = pipe_1.fit_transform(ml_data_clean)

cat_labeler output...

   auction_id  experiment  date  hour  device_make  browser  yes
0           0           1     1    16            1        0    1
1           1           1     3     8            1        0    0


scaler output...

   auction_id  experiment      date      hour  device_make  browser  yes
0    0.000000         1.0  0.142857  0.695652     0.076923      0.0  1.0
1    0.001441         1.0  0.428571  0.347826     0.076923      0.0  0.0


target_features output...

features size: (695, 6)


set_splitter output...

X_train shape: (512, 6)
y_train shape: (512,)
x_test shape: (70, 6)
y_test shape: (70,)
X_val shape: (113, 6)
y_val shape: (113,)

In [250]:
pipe_2 = Pipeline(
    steps=[
        ("label categories", FunctionTransformer(mlp.cat_labeler, kw_args={"cat_cols": cat})),
        ("scale data", FunctionTransformer(mlp.scaler)),
        ("separate target and features", FunctionTransformer(mlp.target_feature, kw_args={"f_r": [0, 6], "t":-1})),
        ("divide dataset", FunctionTransformer(mlp.set_splitter, kw_args={"test": 0.1, "val":0.2, "rand_state":8})),      
        ])
sets = pipe_2.fit_transform(ml2_data_clean)

cat_labeler output...

   auction_id  experiment  date  hour  device_make  browser  yes
0           0           1     2     2            3        0    0
1           1           1     2     6           11        0    0


scaler output...

   auction_id  experiment      date      hour  device_make  browser  yes
0    0.000000         1.0  0.285714  0.090909     0.038462      0.0  0.0
1    0.004425         1.0  0.285714  0.272727     0.141026      0.0  0.0


target_features output...

features size: (227, 6)


set_splitter output...

X_train shape: (167, 6)
y_train shape: (167,)
x_test shape: (23, 6)
y_test shape: (23,)
X_val shape: (37, 6)
y_val shape: (37,)

In [251]:
pipe_3 = Pipeline(
    steps=[
        ("label categories", FunctionTransformer(mlp.cat_labeler, kw_args={"cat_cols": cat})),
        ("scale data", FunctionTransformer(mlp.scaler)),
        ("separate target and features", FunctionTransformer(mlp.target_feature, kw_args={"f_r": [0, 6], "t":-1})),
        ("divide dataset", FunctionTransformer(mlp.set_splitter, kw_args={"test": 0.1, "val":0.2, "rand_state":8})),      
        ])
sets = pipe_3.fit_transform(ml3_data_clean)

cat_labeler output...

   auction_id  experiment  date  hour  device_make  browser  yes
0           0           0     5     4           23        0    1
1           1           0     0    15           12        0    0


scaler output...

   auction_id  experiment      date      hour  device_make  browser  yes
0    0.000000         0.0  0.714286  0.173913     0.370968      0.0  1.0
1    0.006452         0.0  0.000000  0.652174     0.193548      0.0  0.0


target_features output...

features size: (156, 6)


set_splitter output...

X_train shape: (114, 6)
y_train shape: (114,)
x_test shape: (16, 6)
y_test shape: (16,)
X_val shape: (26, 6)
y_val shape: (26,)

In [252]:
pipe_4 = Pipeline(
    steps=[
        ("label categories", FunctionTransformer(mlp.cat_labeler, kw_args={"cat_cols": cat})),
        ("scale data", FunctionTransformer(mlp.scaler)),
        ("separate target and features", FunctionTransformer(mlp.target_feature, kw_args={"f_r": [0, 6], "t":-1})),
        ("divide dataset", FunctionTransformer(mlp.set_splitter, kw_args={"test": 0.1, "val":0.2, "rand_state":8})),      
        ])
sets = pipe_4.fit_transform(ml4_data_clean)

cat_labeler output...

   auction_id  experiment  date  hour  device_make  platform_os  browser  yes
0           0           1     0     8            0            5        1    0
1           1           0     0    15            0            5        1    0


scaler output...

   auction_id  experiment  date    hour  device_make  platform_os  browser  \
0      0.0000         1.0   0.0  0.4375          0.0          0.0      0.5
1      0.0625         0.0   0.0  0.8750          0.0          0.0      0.5

   yes
0  0.0
1  0.0


target_features output...

features size: (17, 6)


set_splitter output...

X_train shape: (12, 6)
y_train shape: (12,)
x_test shape: (2, 6)
y_test shape: (2,)
X_val shape: (3, 6)
y_val shape: (3,)

In [253]:
pipe_5 = Pipeline(
    steps=[
        ("label categories", FunctionTransformer(mlp.cat_labeler, kw_args={"cat_cols": cat})),
        ("scale data", FunctionTransformer(mlp.scaler)),
        ("separate target and features", FunctionTransformer(mlp.target_feature, kw_args={"f_r": [0, 6], "t":-1})),
        ("divide dataset", FunctionTransformer(mlp.set_splitter, kw_args={"test": 0.1, "val":0.2, "rand_state":8})),      
        ])
sets = pipe_5.fit_transform(ml5_data_clean)

cat_labeler output...

   auction_id  experiment  date  hour  device_make  platform_os  browser  yes
0           0           1     2     2            4            6        2    0
1           1           1     1    16           13            6        1    1


scaler output...

   auction_id  experiment      date      hour  device_make  platform_os  \
0    0.000000         1.0  0.285714  0.086957     0.035088          0.0
1    0.000816         1.0  0.142857  0.695652     0.114035          0.0

   browser  yes
0      0.4  0.0
1      0.2  1.0


target_features output...

features size: (1226, 6)


set_splitter output...

X_train shape: (904, 6)
y_train shape: (904,)
x_test shape: (123, 6)
y_test shape: (123,)
X_val shape: (199, 6)
y_val shape: (199,)

In [254]:
pipe_1 =Pipeline([('scalar3',StandardScaler()),('rf_classifier',RandomForestClassifier(random_state=2))])
pipe_2 =Pipeline([('scalar3',StandardScaler()),('rf_classifier',RandomForestClassifier(random_state=2))])
pipe_3 =Pipeline([('scalar3',StandardScaler()),('rf_classifier',RandomForestClassifier(random_state=2))])
pipe_4 =Pipeline([('scalar3',StandardScaler()),('rf_classifier',RandomForestClassifier(random_state=2))])
pipe_5 =Pipeline([('scalar3',StandardScaler()),('rf_classifier',RandomForestClassifier(random_state=2))])

In [255]:
pipe_1.fit(sets[0], sets[1])
pipe_1.score(sets[4],sets[5])

0.5025125628140703

In [256]:
pipe_2.fit(sets[0], sets[1])
pipe_2.score(sets[4],sets[5])

0.5025125628140703

In [257]:
pipe_3.fit(sets[0], sets[1])
pipe_3.score(sets[4],sets[5])

0.5025125628140703

In [258]:
pipe_4.fit(sets[0], sets[1])
pipe_4.score(sets[4],sets[5])

0.5025125628140703

In [259]:
pipe_5.fit(sets[0], sets[1])
pipe_5.score(sets[4],sets[5])

0.5025125628140703