In [4]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv('../data/SmartAd_clean_data.csv')
data.head(3)

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
1,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1,0
2,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,6,Chrome Mobile,0,1

In [9]:
# checking the list of unique values in platform 
platform_types = data['platform_os'].value_counts().index.tolist()
platform_types

[6, 5]

In [10]:
browser_types = data['browser'].value_counts().index.tolist()[:3]
browser_types

['Chrome Mobile', 'Chrome Mobile WebView', 'Facebook']

In [11]:

def data_splitter(df,col, selection):
  splitted_data = []
  for item in selection:
    new_data = df.loc[df[col] == item]
    splitted_data.append(new_data)

  return splitted_data


splitted_data_brow = data_splitter(data, "browser", browser_types)
splitted_data_plat = data_splitter(data, "platform_os", platform_types)

platform_5_data = splitted_data_plat[0].drop(["platform_os", "no"], axis=1)
platform_6_data = splitted_data_plat[1].drop(["platform_os", "no"], axis=1)
chrome_data = splitted_data_brow[0].drop(["browser", "no"], axis=1)
chrome_mobile_webView_data = splitted_data_brow[1].drop(["browser", "no"], axis=1)
Facebook_data = splitted_data_brow[2].drop(["browser", "no"], axis=1)

In [13]:
platform_5_data.head(3)

,auction_id,experiment,date,hour,device_make,browser,yes
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,Chrome Mobile WebView,0
1,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,Chrome Mobile,1
2,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,Chrome Mobile,0

In [14]:
chrome_data.head(3)

,auction_id,experiment,date,hour,device_make,platform_os,yes
1,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,6,1
2,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,6,0
4,00ebf4a8-060f-4b99-93ac-c62724399483,control,2020-07-03,15,Generic Smartphone,6,0

In [15]:
Facebook_data.to_csv('../data/facebook_data.csv',index=False)
chrome_data.to_csv('../data/chrome_data.csv',index=False)
chrome_mobile_webView_data.to_csv('../data/chrome_mobile_webView_data.csv',index=False)
platform_6_data.to_csv('../data/platform_6.csv',index=False)
platform_5_data.to_csv('../data/platform_5.csv',index=False)