In [16]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [17]:
data = pd.read_csv('../data/SmartAd_clean_data.csv')
data.head(3)

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
1,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1,0
2,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,6,Chrome Mobile,0,1

In [18]:
data['platform_os'].value_counts().index.tolist()

[6, 5]

In [19]:
browser_data = data.drop('platform_os',inplace=False,axis=1)
top_3_browsers = browser_data['browser'].value_counts().index.tolist()[:3]
top_3_browsers

['Chrome Mobile', 'Chrome Mobile WebView', 'Facebook']

In [20]:

splitted_data = []
for browser in top_3_browsers:
  new_data = browser_data.loc[browser_data['browser'] == browser]
  splitted_data.append(new_data)

chrome_data = splitted_data[0]
chrome_mobile_webView_data = splitted_data[1]
Facebook_data = splitted_data[2]

In [21]:
Facebook_data.shape

(156, 8)

In [22]:
Facebook_data['SAID_YES'] = np.where(Facebook_data['yes']== 1,1,0)
Facebook_data.head(5)

,auction_id,experiment,date,hour,device_make,browser,yes,no,SAID_YES
3,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,Facebook,1,0,1
10,023458f7-122d-475f-9525-1b9a3cc7a033,control,2020-07-03,15,MRD-LX1,Facebook,0,1,0
11,023ec7b5-cb8f-49a5-995f-e0d7c2f702e5,exposed,2020-07-09,13,Samsung SM-G935F,Facebook,1,0,1
19,03948b84-b5b1-4f26-81fc-e953218aef1a,control,2020-07-09,20,Samsung SM-G930F,Facebook,1,0,1
25,04bb7622-8ac6-4cf8-bbab-31cd31698fe7,control,2020-07-03,15,Samsung SM-G973F,Facebook,0,1,0

In [23]:
chrome_data['SAID_YES'] = np.where(chrome_data['yes']== 1,1,0)
chrome_data.head(5)

,auction_id,experiment,date,hour,device_make,browser,yes,no,SAID_YES
1,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,Chrome Mobile,1,0,1
2,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,Chrome Mobile,0,1,0
4,00ebf4a8-060f-4b99-93ac-c62724399483,control,2020-07-03,15,Generic Smartphone,Chrome Mobile,0,1,0
5,013e45cf-e388-46a4-9c5b-a34303613940,exposed,2020-07-10,2,Generic Smartphone,Chrome Mobile,0,1,0
6,018af862-486e-4da1-a85b-71872120e57c,control,2020-07-03,15,Generic Smartphone,Chrome Mobile,1,0,1

In [24]:
chrome_mobile_webView_data['SAID_YES'] = np.where(chrome_mobile_webView_data['yes']== 1,1,0)
chrome_mobile_webView_data.head(5)

,auction_id,experiment,date,hour,device_make,browser,yes,no,SAID_YES
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,Chrome Mobile WebView,0,1,0
7,01905bae-fc59-475e-b2b4-09b78163c961,exposed,2020-07-05,6,I3312,Chrome Mobile WebView,0,1,0
12,02a9eba3-58b0-4759-b3ae-68a19cb2b59e,exposed,2020-07-09,20,Moto $2,Chrome Mobile WebView,0,1,0
15,0332792f-0de9-4902-9d08-06033c3d8371,control,2020-07-06,2,Samsung SM-J600FN,Chrome Mobile WebView,0,1,0
20,03ee1780-1fa3-4bec-926c-d543a81a6653,exposed,2020-07-04,11,Samsung SM-G981B,Chrome Mobile WebView,1,0,1

In [25]:
Facebook_data.to_csv('../data/facebook_data.csv',index=False)
chrome_data.to_csv('../data/chrome_data.csv',index=False)
chrome_mobile_webView_data.to_csv('../data/chrome_mobile_webView_data.csv',index=False)

In [26]:
platforms = data['platform_os'].value_counts().index.tolist()

In [27]:
platform_data_list = []
for platform in platforms:
  plat_data = data.loc[data['platform_os'] == platform]
  platform_data_list.append(plat_data)

In [28]:
platform_6 = platform_data_list[0]
platform_5 = platform_data_list[1]

In [29]:
platform_6.to_csv('../data/platform_6.csv',index=False)
platform_5.to_csv('../data/platform_5.csv',index=False)